
h1 {
    text-align: center;
    font-size: 64px;
    font-family: 'Gochi Hand', cursive;
    margin-bottom: 3px;
}

h3 {
    font-weight: bold;
}

p, a, h3, blockquote, li {    
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body {
    padding: 50px;
}

main {
    max-width: 800px;
}

.subtitle {
    text-align: center;
}
